body 
    margin: 0
    
h4
    text-align: center
    padding-top: 30px
    padding-bottom: 30px
ul
    li
        a
            color: black
            font-size: 10px
.accueil
    background-color: #f1f0f0e5
    h3 
        font-size: 35px
    h1
        font-size: 60px
.sale 
    border-radius: 50px
    color: white
.imgtext
    position: relative
    .centered
        position: absolute
        top: 50%
        left: 40%
        color: white
        border-bottom: 1px white solid
        